NODE_ENV=development
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=bumpa
RABBITMQ_PASSWORD=bumpa
REDIS_HOST=localhost
REDIS_PORT=6379
OUTBOX_BATCH_SIZE=20
OUTBOX_MAX_ATTEMPTS=5
OUTBOX_LOCK_TTL_MS=5000
OUTBOX_POLL_INTERVAL_MS=30000

API_GATEWAY_PORT=3000
API_GATEWAY_HOST_PORT=3000
GATEWAY_BODY_LIMIT=100kb
GATEWAY_CORS_ORIGINS=
GATEWAY_DOCS_ENABLED=true
PURCHASE_SERVICE_PORT=3001
LOYALTY_SERVICE_PORT=3002
CASHBACK_SERVICE_PORT=3004
PURCHASE_SERVICE_HOST=localhost
LOYALTY_SERVICE_HOST=localhost
CASHBACK_SERVICE_HOST=localhost

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=bumpa
DATABASE_PASSWORD=bumpa
PURCHASE_DATABASE_NAME=purchase_db
LOYALTY_DATABASE_NAME=loyalty_db
CASHBACK_DATABASE_NAME=cashback_db

PAYMENT_PROVIDER=mock
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=
CASHBACK_AMOUNT_KOBO=30000
