NODE_ENV=development
RABBITMQ_URL=amqp://bumpa:bumpa@localhost:5672
REDIS_URL=redis://localhost:6379

API_GATEWAY_PORT=3000
PURCHASE_SERVICE_PORT=3001
LOYALTY_SERVICE_PORT=3002
CASHBACK_SERVICE_PORT=3004

PURCHASE_DATABASE_URL=postgresql://bumpa:bumpa@localhost:5432/purchase_db?schema=public
LOYALTY_DATABASE_URL=postgresql://bumpa:bumpa@localhost:5432/loyalty_db?schema=public
CASHBACK_DATABASE_URL=postgresql://bumpa:bumpa@localhost:5432/cashback_db?schema=public

PAYMENT_PROVIDER=mock
PAYSTACK_SECRET_KEY=
CASHBACK_AMOUNT_KOBO=30000
